# build artefacts
novemberfive-responsivator.sketchplugin/Contents/Sketch
novemberfive-responsivator.sketchplugin/Contents/Resources/Preferences.js
novemberfive-responsivator.sketchplugin/Contents/Resources/Portal.js

# npm
node_modules

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# IDE
.vscode
